@import "../../../../public/assets/styles/_variables/colors";
@import "../../../../public/assets/styles/_variables/breakpoints";
@import "../../../../public/assets/styles/_variables/_sizes";

.page {
  .page-header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    .page-icon-wrapper{
      display: flex;
      width: $header-logo-size;
      margin-right: $header-logo-spacing;
      justify-content: center;
      .page-icon {
        height: $page-title-icon-size;
        width: $page-title-icon-size;
      }
    }
    .page-title {
      color: $white;
      font-size: $page-title-font-size;
    }

    @media all and (max-width: $mobile-large) {
      margin-bottom: 0;

      .page-icon-wrapper{
        width: $header-logo-size-mobile-large;
        margin-right: $header-logo-spacing-mobile-large;
        .page-icon {
          height: $page-title-icon-size-mobile-large;
          width: $page-title-icon-size-mobile-large;
        }
      }

      .page-title {
        font-size: $page-title-font-size-mobile-large;
      }
    }

    @media all and (max-width: $mobile-small) {
      margin-bottom: 0;

      .page-icon-wrapper{
        width: $header-logo-size-mobile-small;
        margin-right: $header-logo-spacing-mobile-small;
        .page-icon {
          height: $page-title-icon-size-mobile-small;
          width: $page-title-icon-size-mobile-small;
        }
      }
      .page-title {
        color: $white;
        font-size: $page-title-font-size-mobile-small;
      }
    }
  }
}
