@import "../../../public/assets/styles/_variables/colors";
@import "../../../public/assets/styles/_variables/breakpoints";

button {
  user-select: none;
  align-items: center;
  background-color: $saffron;
  border: solid 0.1rem transparent;
  border-radius: 2.4rem;
  color: $white;
  cursor: pointer;
  display: flex;
  font-family: ControlFreakBold, sans-serif;
  font-size: 2rem;
  height: 4.8rem;
  outline: 0;
  padding: 1rem 2rem;
  text-transform: capitalize;
  transition: all 0.4s ease-in;
  justify-content: center;

  img {
    user-select: none;
    height: 2rem;
    width: 1.8rem;
    margin-right: 1rem;
  }

  &.disabled {
    cursor: initial;
    background: $main-darkest;
    opacity: 1;
    border-color: $white;
    z-index: 1;
  }

  @media all and (max-width: $mobile-large) {
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    height: 4rem;
  }

  @media all and (max-width: $mobile-small) {
    font-size: 2.5vw;
    padding: 0.75vw 1.5vw;
    height: 6vw;
  }
}
