// Main colors
$main-darkest: #121a1c;
$main-darker: #2c373b;
$main-dark: #364247;
$main-darko: #575b5e;
$main-darkish: #576971;
$main-medium: #67747c;
$main-medium-transp: #67747c33;
$main-lightish: #6a7e8a;
$main-light: #8697a0;
$main-lighter: #a5b2b9;
$main-lightest: #becfda;
$main-lightest-transp: #becfda00;

// Highlight colors
$mustard: #d7dfac;
$saffron: #e0b775;

$gold-dark: #c89513;
$gold: #f8bd24;
$gold-light: #ffeab6;
$gold-semi-transparent: #f8bd24AA;
$gold-transparent: #f8bd2400;

$steel-blue: #6ba4c2;
$red: #ff0000;

// Static
$black: #000;
$tundora: #444;
$emperor: #555;
$dove: #707070;
$silver: #ccc;
$soap: #eee;
$lilac: #eee9dc;
$white: #fff;

//Gradients
$gradient-1: linear-gradient(
    0deg,
    rgba(70, 85, 93, 0.33) 0%,
    rgba(72, 84, 94, 0.33) 50%,
    rgba(136, 149, 160, 0.33) 100%
);
$gradient-1-dark: linear-gradient(
    0deg,
    rgba(70, 85, 93, 0.18) 0%,
    rgba(72, 84, 94, 0.18) 50%,
    rgba(136, 149, 160, 0.18) 100%
);
$gradient-2: linear-gradient(
    244deg,
    rgba(67, 79, 93, 0.33) -20%,
    rgba(140, 153, 164, 0.33) 120%
);
$gradient-3: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.18) 0%,
    rgba(8, 10, 12, 0.18) 50%,
    rgba(24, 30, 34, 0) 100%
);

$box-shadow: rgba(150, 201, 225, 0.15);
$text-glow: 0 0 3px $gold, 0 0 12px $gold;
