$header-logo-size: 8rem;
$header-logo-size-mobile-large: 6rem;
$header-logo-size-mobile-small: 8vw;

$header-logo-spacing: 3rem;
$header-logo-spacing-mobile-large: 2rem;
$header-logo-spacing-mobile-small: 3vw;

$header-title-font: 6rem;
$header-title-font-mobile-large: 4rem;
$header-title-font-mobile-small: 6vw;

$header-menu-font-size: 2rem;
$header-dropdown-item-font: 2rem;

$page-title-font-size: 4.4rem;
$page-title-font-size-mobile-large: 3.2rem;
$page-title-font-size-mobile-small: 5.2vw;

$page-title-icon-size: 3.6rem;
$page-title-icon-size-mobile-large: 2.4rem;
$page-title-icon-size-mobile-small: 3.6vw;

$section-title-font-size: 3.6rem;
$section-title-font-size-mobile-large: 2.4rem;
$section-title-font-size-mobile-small: 4.4vw;

$section-title-icon-size: 3rem;
$section-title-icon-size-mobile-large: 2.4rem;
$section-title-icon-size-mobile-small: 4vw;

$section-text-font-size: 2.8rem;
$section-text-font-size-mobile-large: 2.4rem;
$section-text-font-size-mobile-small: 3.8vw;

$tab: 2.2rem;
$tab-mobile-large: 1.8rem;
$tab-mobile-small: 1.2rem;
$tab-double: 4.4rem;
$tab-double-mobile-large: 3.6rem;
$tab-double-mobile-small: 2.4rem;
$tab-triple: 6.6rem;
$tab-triple-mobile-large: 5.4rem;
$tab-triple-mobile-small: 3.6rem;
$tab-quadruple: 8.8rem;
$tab-quadruple-mobile-large: 7.2rem;
$tab-quadruple-mobile-small: 4.8rem;

