@import "../../../public/assets/styles/_variables/colors";
@import "../../../public/assets/styles/_variables/breakpoints";
@import "../../../public/assets/styles/_variables/sizes";

.jobs {
  .choice {
    .choice-title {
      color: $main-lightest;
      text-align: center;
      font-size: $section-title-font-size;
      font-weight: 700;
      margin-top: 2rem;
      margin-bottom: 1rem;
      margin-left: 25%;
      margin-right: 25%;

      @media all and (max-width: $mobile-large) {
        font-size: $section-title-font-size-mobile-large;
        margin-left: 20%;
        margin-right: 20%;
      }
      @media all and (max-width: $mobile-small) {
        font-size: $section-title-font-size-mobile-small;
        margin-left: 10%;
        margin-right: 10%;
      }
    }
    .two-buttons-choice {
      display: grid;
      grid-template-columns: 40% 40%;
      grid-gap: 20%;
      margin: 40px 35% 0 35%;

      @media all and (max-width: $mobile-large) {
        font-size: $section-title-font-size-mobile-large;
        margin-left: 20%;
        margin-right: 20%;
      }
      @media all and (max-width: $mobile-small) {
        font-size: $section-title-font-size-mobile-large;
        margin-left: 15%;
        margin-right: 15%;
      }
    }
  }

  .top-title {
    color: $main-lightest;
    text-align: center;
    font-size: $section-title-font-size;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 25%;
    margin-right: 25%;

    @media all and (max-width: $mobile-large) {
      font-size: $section-title-font-size-mobile-large;
      margin-left: 20%;
      margin-right: 20%;
    }
    @media all and (max-width: $mobile-small) {
      font-size: $section-title-font-size-mobile-small;
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  .unconnected {
    display: grid;
    .connect-button {
      margin: 30px auto;
      // margin-left: 40%;
      // margin-right: 40%;
    }
  }
}
