@import "../../../public/assets/styles/_variables/colors";
@import "../../../public/assets/styles/_variables/breakpoints";

:export {
  #{main-dark}: $main-dark;
}

main {
  @media all and (max-width: $mobile-large) {
    width: 100vw !important;
  }
}