@import "../../../public/assets/styles/_variables/colors";
@import "../../../public/assets/styles/_variables/breakpoints";

.modal {
  align-items: center;
  background-color: rgba($main-darkest, 0.9);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 2rem;
  position: fixed;
  top: 0;
  z-index: 9998;
  width: 100%;

  .modal-content {
    background: transparent
      $gradient-1;
    border-radius: 3.2rem;
    border: solid 0.1rem $main-light;
    box-shadow: 0 6.4rem 6.4rem $main-medium-transp;
    color: transparentize($white, 0.5);
    margin: auto;
    padding: 3.2rem 0;

    @media all and (min-width: $mobile-medium) {
      min-width: 35rem;
    }

    @media all and (max-width: $mobile-medium) {
      min-width: 85%;
    }

    .modal-header {
      align-items: center;
      color: $white;
      display: flex;
      font-size: 1.9rem;
      font-family: ControlFreak, sans-serif;
      padding: 0 3.2rem;

      @media all and (max-width: $mobile-medium){
        justify-content: space-between;
      }

      .modal-close {
        background-color: transparent;
        cursor: pointer;
        height: auto;
        margin-left: auto;
        padding-left: 0;
        padding-right: 0;

        @media all and (max-width: $mobile-medium){
          margin-left: 1rem;
        }

        img {
          height: 1.2rem;
          margin: 0 auto;
          opacity: 0.33;
          transition: 0.2s opacity ease-in-out;
          width: 1.2rem;
        }

        &:hover {
          img {
            opacity: 1;
          }
        }
      }
    }

    .modal-body {
      font-size: 1.4rem;
      padding-top: 3.2rem;
    }
  }
}
