@import "../../../public/assets/styles/_variables/colors";
@import "../../../public/assets/styles/_variables/breakpoints";
@import "../../../public/assets/styles/_variables/sizes";

.personal {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  h1 {
    color: $main-lightest;
  }
  h2 {
    color: $main-light;
  }
}
