@import "../../../../public/assets/styles/_variables/colors";
@import "../../../../public/assets/styles/_variables/breakpoints";
@import "../../../../public/assets/styles/_variables/_mixins";
@import "../../../../public/assets/styles/_variables/_sizes";

.header-wrapper {
  align-items: center;
  display: flex;
  margin-top: $tab;
  margin-bottom: $tab-double;
  margin-right: $tab-double;

  w3m-core-button {
    margin-left: $tab-double;
  }

  .header-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: $header-logo-spacing;

    .header-logo {
      border-radius: $header-logo-size;
      user-select: none;
      width: $header-logo-size;
    }
  }

  .header-title {
    font-size: $header-title-font;
    color: $main-lightest;
    text-shadow: $text-glow;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  @media all and (max-width: $mobile-large) {
    margin-top: $tab-mobile-large;
    margin-bottom: $tab-double-mobile-large;
    margin-right: 0;

    w3m-core-button {
      margin-left: auto;
    }

    .header-logo-wrapper {
      margin-right: $header-logo-spacing-mobile-large;
      .header-logo {
        width: $header-logo-size-mobile-large;
      }
    }

    .header-title {
      font-size: $header-title-font-mobile-large;
      display: none;
    }
  }

  @media all and (max-width: $mobile-small) {
    margin-top: $tab-mobile-small;
    margin-bottom: $tab-double-mobile-small;
    margin-right: 0;

    w3m-core-button {
      margin-left: auto;
    }

    .header-logo-wrapper {
      margin-right: $header-logo-spacing-mobile-small;
      .header-logo {
        width: $header-logo-size-mobile-small;
      }
    }
    .header-title {
      font-size: $header-title-font-mobile-small;
      margin-right: 2.5vw;
    }
  }
}

.outline-outward {
  display: inline-block;
  $outerBorderWidth: 1px;
  $innerBorderWidth: 3px;

  position: relative;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

  &:before {
    content: '';
    position: absolute;
    border: $main-lightest-transp solid $outerBorderWidth;
    border-radius: 10rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-duration: .4s;
    transition-property: top right bottom left border-color;
    box-shadow: 0 0 3px $gold-semi-transparent, 0 0 12px $gold-semi-transparent;
  }

  &:hover:before {
    top: -($outerBorderWidth + $innerBorderWidth);
    right: -($outerBorderWidth + $innerBorderWidth);
    bottom: -($outerBorderWidth + $innerBorderWidth);
    left: -($outerBorderWidth + $innerBorderWidth);
    animation: blinker ease-in-out forwards 0.4s;
    border-color: $main-lightest
  }

  @keyframes blinker {
    33% {
      border-color: $main-lightest;
    }
    66% {
      border-color: $main-lightest-transp;
    }
    100% {
      border-color: $main-lightest;
    }
  }
}