@import "../../../../public/assets/styles/_variables/colors";
@import "../../../../public/assets/styles/_variables/breakpoints";
@import "../../../../public/assets/styles/_variables/_sizes";

.menu {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

@media all and (max-width: $mobile-large) {
  .menu {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    top: -130vh;
    // overflow: hidden;
    opacity: 1;
    position: fixed;
    left: 0px;
    transition: 0.4s ease-in-out;
    background: transparentize($black, 0.2);
    backdrop-filter: blur(5px);
    padding: 10rem 0;
    width: 100vw;
    z-index: 6;

    &.visible {
      top: -10vh;
    }
  }
}
