@import "../../../public/assets/styles/_variables/colors";
@import "../../../public/assets/styles/_variables/breakpoints";
@import "../../../public/assets/styles/_variables/_sizes";

.illustrated-text-list {
  display: grid;
  grid-gap: 5vw;
  overflow-x: hidden;
  margin: 0 0 $tab-double $header-logo-size + $header-logo-spacing;

  .row {
    margin-top: $tab;
    position: relative;
    transition: 0.2s ease;
    display: flex;

    .image-wrapper {
      position: relative;
      transition: 0.5s ease-out;
      width: 40%;
      .image {
        width: 100%;
        opacity: 0.75;
        backdrop-filter: blur(5px);
        border-radius: 15px;
      }
    }

    .text {
      flex: 1;
      width: 50%;
      display: flex;
      margin-left: $tab-double;
      margin-right: 0;
      flex-flow: column;
      justify-content: center;
      text-align: justify;
      color: $white;

      h4 {
        padding: 0 $tab $tab $tab;
        margin: 0;
        font-family: 'ControlFreakBold', sans-serif;
        font-size: $section-title-font-size;
        position: relative;

        &:after {
          content: '';
          height: 0.1rem;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background: $main-lightish;
        }
      }

      p {
        margin-top: 0;
        position: relative;
        font-family: 'ControlFreak', sans-serif;
        color: $silver;
        font-size: $section-text-font-size;
        line-height: 1.4;
        padding: $tab;
        background: transparent $gradient-3;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        backdrop-filter: blur(5px);
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .image-wrapper {
        margin-left: $tab-double;
        margin-right: $tab-double;
      }

      .text {
        margin-left: 0;
        margin-right: 0;
        align-items: right;

        h4 {
          text-align: right;
        }
      }
    }
  }

  @media all and (max-width: $mobile-large) {
    margin: 0;
  
    .row {
      &:nth-child(1n) {
        flex-direction: column;
        margin-bottom: $tab-double-mobile-large;
        .image-wrapper {
          margin: 0 0 $tab-double-mobile-large 0;
          width: 100%;
        }

        .text {
          h4 {
            text-align: left;
            font-size: $section-title-font-size-mobile-large;
          }
          p {
            font-size: $section-text-font-size-mobile-large;
            line-height: 1.2;
          }
          margin: 0;
          width: 100%;
        }
      }
    }
  }

  @media all and (max-width: $mobile-small) {
    margin: 0;
  
    .row {
      &:nth-child(1n) {
        flex-direction: column;
        margin: 0;
        .image-wrapper {
          margin: 0 0 $tab-double-mobile-small 0;
          width: 100%;
        }
      
        .text {
          h4 {
            font-size: $section-title-font-size-mobile-small;
          }
          p {
            font-size: $section-text-font-size-mobile-small;
            line-height: 1.0;
          }
          margin: 0;
          width: 100%;
        }
      }
    }
  }  
}
